@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

.result {
  height: 80px;
  background-color: rgb(39, 38, 38);
  width: 385px;
  border-style: double;
  margin: auto;
}

.result p {
  font-size: 25px;
  margin: 5px;
  color: white;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
  background-color: blue;
  border-radius: 5%;
  margin-top: 3%;
}

.calculator-body h1 {
  text-align: center;
  background-color: blue;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.button {
  display: block;
}

button {
  width: 22.5%;
  height: 60px;
  font-size: 30px;
  margin: 5px;
}

.operator {
  background-color: rgb(231, 79, 79);
}

.delete {
  background-color: rgb(253, 127, 8);
}

.number {
  background-color: rgb(160, 150, 150);
}
